/* General */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilos para la calculadora */
.calculator {
    background-color: #333;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 300px;
}

/* Estilo para el campo de texto */
#display {
    width: 100%;
    height: 50px;
    font-size: 2em;
    text-align: right;
    padding: 10px;
    border: none;
    background-color: #444;
    color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

/* Estilo para los botones */
button {
    width: 60px;
    height: 60px;
    font-size: 1.5em;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}